{% extends 'admin_index.html' %}
{% load humanize %}
{% load mathfilters %}
{% load static %}
<head>
<style>

</style>
    <!-- Include Bootstrap CSS and other necessary stylesheets here -->
</head>
{% block content %}
<div class="container mt-5">
    <div class="card text-center">
        <div class="card-header">
            Slot Details
        </div>
        <div class="card-body">
             <div class="d-flex justify-content-end mb-3">
                <button type="button" class="btn btn-success btn-sm" onclick="addNewVariant()">Add New Variant</button>
            </div>
            <form>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Name:</label>
                    <div class="col-sm-9">
                        <input type="text" id="nameInput" value="{{ name }}" class="form-control">
                    </div>
                </div>
                <div class="row mb-3  hidden-row" style="display: none;">
                    <label class="col-sm-3 col-form-label">slot_detail_id:</label>
                    <div class="col-sm-9">
                        <input type="text" id="slotDetailId" value="{{ slot_detail_id }}" class="form-control">
                    </div>
                </div>

               <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Location:</label>
                    <div class="col-sm-9">
                        <select id="locationInput" class="form-control">
                            {% for location_option in location %}
                                <option value="{{ location_option.id }}"
                                    {% if slot_location.id == location_option.id %}
                                        selected
                                    {% endif %}
                                >
                    {{ location_option.name }}
                </option>
            {% endfor %}
        </select>
    </div>
</div>

            </form>
        </div>
    </div>

    <!-- Nested Bootstrap card structure for each slot variant -->
    <form>
    {% for variant in slot_variants %}
        <div class="card mt-4">
            <div class="card-header">
            Variant Details


            </div>
            <div class="card-body">
                <div class="row mb-3 hidden-row" style="display: none;">
                    <label class="col-sm-3 col-form-label">Slot:</label>
                    <div class="col-sm-9">
                        <input type="text" id="variantSlotInput{{ variant.var_slot_id }}" value="{{ variant.slot }}" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Capacity:</label>
                    <div class="col-sm-9">
                        <input type="text"  id="variantCapacityInput{{ variant.var_slot_id }}" value="{{ variant.capacity }}" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Available Slots:</label>
                    <div class="col-sm-9">
                        <input type="text" id="variantAvailableSlots{{ variant.var_slot_id }}"  value="{{ variant.available_slots }}" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Vehicle Type:</label>
                    <div class="col-sm-9">
                        <input type="text" id="variantVehicleType{{ variant.var_slot_id }}" value="{{ variant.vehicle_type }}" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Hourly Rate (1 Hour):</label>
                    <div class="col-sm-9">
                        <input type="text" id="variantHourlyRate1Hour{{ variant.var_slot_id }}" value="{{ variant.hourly_rate_1_hour }}" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Hourly Rate (3 Hours):</label>
                    <div class="col-sm-9">
                        <input type="text" id="variantHourlyRate3Hours{{ variant.var_slot_id }}" value="{{ variant.hourly_rate_3_hours }}" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Hourly Rate (6 Hours):</label>
                    <div class="col-sm-9">
                        <input type="text" id="variantHourlyRate6Hours{{ variant.var_slot_id }}" value="{{ variant.hourly_rate_6_hours }}" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Hourly Rate (12 Hours):</label>
                    <div class="col-sm-9">
                        <input type="text" id="variantHourlyRate12Hours{{ variant.var_slot_id }}" value="{{ variant.hourly_rate_12_hours }}" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Daily Rate:</label>
                    <div class="col-sm-9">
                        <input type="text" id="variantDailyRate{{ variant.var_slot_id }}" value="{{ variant.daily_rate }}" class="form-control">
                    </div>
                </div>

            </div>
            <div class="text-end mt-2">

            <button type="button" class="btn btn-danger btn-sm" onclick="deleteVariant('{{ variant.var_slot_id }}')">Delete Variant</button>
            </div>
        </div>
    {% endfor %}
        <div class="text-center mt-4">


        </div>
    </form>
        <button type="submit" id="submitButton" class="btn btn-primary" onclick="submitForm({{slot_location_id.id}})">Submit</button>
</div>
<script>
function deleteVariant(variantId) {
    const requestData = {
        variant_id: variantId,
    };

    fetch("/admin_edit_slot_detail", {
        method: "DELETE",
        headers: {
            "Content-Type": "application/json",
        },
        body: JSON.stringify(requestData),
    })
    .then(response => {
        if (response.ok) {
            console.log("Variant deleted successfully:", variantId);
            // Remove the corresponding card from the DOM
            const variantCard = document.querySelector(`#variantCard${variantId}`);
           window.location.reload();
           alert("Delete Successfully")
        } else {
            console.error("Failed to delete variant:", variantId);
            // Handle the error case here
        }
    })
    .catch(error => {
        console.error("An error occurred:", error);
        // Handle the error case here
    });
}



function addNewVariant() {
    const newVariantCard = document.createElement('div');
    newVariantCard.className = 'card mt-4';
    newVariantCard.innerHTML = `
         <div class="card-header">
            Variant Details

            </div>
            <div class="card-body">
                <div class="row mb-3 hidden-row" style="display: none;">
                    <label class="col-sm-3 col-form-label">Slot:</label>
                    <div class="col-sm-9">
                        <input type="text" id="variantSlotInput{{ variant.var_slot_id }}" value="{{ variant.slot }}" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Capacity:</label>
                    <div class="col-sm-9">
                        <input type="text"  id="variantCapacityInput{{ variant.var_slot_id }}" value="{{ variant.capacity }}" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Available Slots:</label>
                    <div class="col-sm-9">
                        <input type="text" id="variantAvailableSlots{{ variant.var_slot_id }}"  value="{{ variant.available_slots }}" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Vehicle Type:</label>
                    <div class="col-sm-9">
                         <select id="variantVehicleType{{ variant.var_slot_id }}" class="form-control">
                          {% if vehicle_choices %}
                                {% for choice_value, choice_label in vehicle_choices %}
                                    <option value="{{ choice_value }}" {% if variant.vehicle_type == choice_value %}selected{% endif %}>{{ choice_label }}</option>
                                {% endfor %}
                           {% else %}
                                <option value="" selected>All vehical type selected ,no options available</option>
                            {% endif %}

                         </select>
                    </div>
                </div>


                 <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Hourly Rate (1 Hour):</label>
                    <div class="col-sm-9">
                        <input type="text" id="variantHourlyRate1Hour{{ variant.var_slot_id }}" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Hourly Rate (3 Hours):</label>
                    <div class="col-sm-9">
                        <input type="text" id="variantHourlyRate3Hours{{ variant.var_slot_id }}" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Hourly Rate (6 Hours):</label>
                    <div class="col-sm-9">
                        <input type="text" id="variantHourlyRate6Hours{{ variant.var_slot_id }}" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Hourly Rate (12 Hours):</label>
                    <div class="col-sm-9">
                        <input type="text" id="variantHourlyRate12Hours{{ variant.var_slot_id }}" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Daily Rate:</label>
                    <div class="col-sm-9">
                        <input type="text" id="variantDailyRate{{ variant.var_slot_id }}" class="form-control">
                    </div>
                </div>
            </div>
    `;

    document.querySelector('#submitButton').before(newVariantCard);
}



 function submitForm(location_id) {
        // Collect and prepare the data
        const variants = document.querySelectorAll("[id^='variantSlotInput']");
        const data = [];

        variants.forEach(function (variant) {
            const varSlotId = variant.id.replace("variantSlotInput", "");
            const capacity = document.getElementById("variantCapacityInput" + varSlotId).value;
            const availableSlots = document.getElementById("variantAvailableSlots" + varSlotId).value;
            const vehicleType = document.getElementById("variantVehicleType" + varSlotId).value;
            const hourlyrate_1_hours = document.getElementById("variantHourlyRate1Hour" + varSlotId).value;
            const hourlyrate_3_hours = document.getElementById("variantHourlyRate3Hours" + varSlotId).value;
            const hourlyrate_6_hours = document.getElementById("variantHourlyRate6Hours" + varSlotId).value;
            const hourlyrate_12_hours = document.getElementById("variantHourlyRate12Hours" + varSlotId).value;
            const dailyrate = document.getElementById("variantDailyRate" + varSlotId).value;


            data.push({
                var_slot_id: varSlotId,
                capacity: capacity,
                available_slots: availableSlots,
                vehicle_type: vehicleType,
                 hourly_rate_1_hour: hourlyrate_1_hours,
                hourly_rate_3_hours: hourlyrate_3_hours,
                hourly_rate_6_hours: hourlyrate_6_hours,
                hourly_rate_12_hours: hourlyrate_12_hours,
                daily_rate: dailyrate,
            });
        });

        // Data to be sent to the server
        const postData = {
            slot_detail_id: document.getElementById("slotDetailId").value,
            name: document.getElementById("nameInput").value,
            location: document.getElementById("locationInput").value,
            slot_variants: data,
        };

        // Send the data using a fetch request
        fetch("/admin_slot_detail", {
            method: "PATCH",
            headers: {
                "Content-Type": "application/json",
                // You might need to include other headers based on your server's requirements
            },
            body: JSON.stringify(postData),
        })
            .then(response => {
                console.log("OK")
                console.log(response)
                console.log(response.data)
                if (response.ok) {

                    window.location.href = "{% url 'admin_slot_detail' %}" + "?location_id=" + location_id;

                     alert('Slot Detail Edited Successfully');


                } else {
                    throw new Error('Failed to edit slot detail'); // You can customize the error message
                }
            })
            .catch(error => {
                // Handle errors
                console.error(error);
            });
    }
</script>

{% endblock %}
