<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">

<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->

    <!-- Bootstrap CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/ea4749b7f0.js" crossorigin="anonymous"></script>
    <title>Map Location Picker</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <style>

        .nav-data{color:gray;
    display: flex;
    justify-content: center;
    }
    .nav-section{background-color: white;
    width:100%;}


        #mapContainer {
           position:relative;
        }

        .nav-section{background-color: white;
        width:100%;}

        .navbar {
            background-color: white;
        }

        .navbar-brand img {
            max-height: 50px;
        }

        .navbar-nav {
            flex-direction: row;
        }

        .navbar-nav .nav-link {
            color: gray;
            font-weight: bold;
            padding: 0.5rem 1rem; /* Add padding for better spacing */
        }

          .copy-right{
              display: flex;
            justify-content: center;
        }

     .hide-button {
            display: none;
        }
      .day-list{
      display:flex;
      }
        .footer {
            background-color: black;
            color: white;
            text-align: center;
            padding: 40px 0px 40px 0px;
            bottom: 0;
            width:100%;}

    </style>
</head>
<body>

    <div>
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--    <div class="container-fluid">-->
<!--      &lt;!&ndash; <div class="first-icon">-->

<!--      </div> &ndash;&gt;-->
<!--      <span class="navbar-brand "  href="#"><img  src="/static/images/LOGO_PARKING.webp" class="" height="50" width="150" alt="..."></span>-->

<!--        <p class="nav-link text-dark m-0 d-sm-block d-md-none d-block-none">Hello <span id="username">{{ user.username }}</span> </p>-->


<!--        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--      </button>-->

<!--        <div class="collapse navbar-collapse" id="navbarNav">-->
<!--    <ul class="navbar-nav">-->
<!--        <li class="nav-item px-3">-->
<!--            <a class="nav-link active nav-data" aria-current="page" href="{% url 'admin_home' %}">Home</a>-->
<!--        </li>-->

<!--        <li class="nav-item px-3">-->
<!--            <a class="nav-link nav-data" href="{% url 'admin_slot_booking' %}">AddSlotBooking</a>-->
<!--        </li>-->
<!--        <li class="nav-item px-3">-->
<!--            <a class="nav-link nav-data" href="{% url 'admin_get_location' %}">Location</a>-->
<!--        </li>-->
<!--        <li class="nav-item px-3">-->
<!--            <a class="nav-link nav-data" href="{% url 'admin_get_location' %}">Staff Detail</a>-->
<!--        </li>-->
<!--    </ul>-->

<!--    &lt;!&ndash; Use a grid column for the right-aligned links &ndash;&gt;-->
<!--        <div class="text-right">-->
<!--            <ul class="navbar-nav">-->
<!--                <li class="nav-item px-3 d-none d-sm-block">-->
<!--                    <p class="nav-link text-dark ml-0">Hello <span id="user">{{ user.username }}</span></p>-->
<!--                </li>-->

<!--                <li class="nav-item px-3">-->
<!--                    <a class="nav-link nav-data" href="">Logout</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--    </div>-->
<!--</nav>-->
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- <div class="first-icon">

      </div> -->
      <span class="navbar-brand "  href="{% url 'admin_slot_booking' %}"><img  src="/static/images/LOGO_PARKING.webp" class="" height="50" width="150" alt="..."></span>

        <p class="nav-link text-dark m-0 d-sm-block d-md-none d-block-none">Hello <span id="username">{{ user.username }}</span> </p>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item px-3">
            <a class="nav-link active nav-data" aria-current="page" href="{% url 'admin_home' %}">Home</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link nav-data" href="{% url 'admin_slot_booking' %}">SlotBooking</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link nav-data" href="{% url 'admin_get_location' %}">Location</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link nav-data" href="{% url 'admin_edit_user' %}">Staff Detail</a>
        </li>
    </ul>

    <!-- Use a grid column for the right-aligned links -->
        <div class="text-right">
            <ul class="navbar-nav">
                <li class="nav-item px-3 d-none d-sm-block">
                    <p class="nav-link text-dark m-0">Hello <span id="user">{{ user.username }}</span></p>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link nav-data" href="{% url 'admin_utility_logout' %}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
    </div>
</nav>
<div class="btn-group" role="group" aria-label="View Toggle">
    <button type="button" class="btn btn-primary hide-button" id="mapViewBtn">Map View</button>
    <button type="button" class="btn btn-primary hide-button" id="satelliteViewBtn">Satellite View</button>
</div>

   <div id="mapContainer" style="height:500px;">
    <div id="googleMap" style="position:absolute;top:50%;width:100%;height:100%;z-index:1;transform:translateY(-50%)"></div>
</div>
<div class="location-button" style="position:relative">
        {% csrf_token %}

        </div>
</div>
<div class="location-button pt-5 pb-5" style="position:relative">
    <div class="card text-center" style="width: 500px; margin: auto;">
        <div class="card-body">
            <h2 class="card-title">Add Location Details</h2>
            <form id="locationForm">
                <div class="mb-3">
                    <label for="nameInput" class="form-label">Name:</label>
                    <input type="text" id="nameInput" class="form-control" placeholder="Enter Name" required>
                </div>
                <div class="mb-3">
                    <label for="addressInput" class="form-label">Address:</label>
                    <input type="text" id="addressInput" class="form-control" placeholder="Enter Address" required>
                </div>
                <div class="mb-3">

                    <input type="hidden" id="latitudeInput" class="form-control" placeholder="Latitude">
                </div>
                <div class="mb-3">

                    <input type="hidden" id="longitudeInput" class="form-control" placeholder="Longitude">
                </div>

                <div class="mb-3">
                    <input type="radio" id="twentyFourHours" name="timeOption" class="form-check-input" value="24">
                    <label for="twentyFourHours" class="form-check-label">24 Hours</label>
                </div>
                <div class="mb-3">
                    <input type="radio" id="selectTime" name="timeOption" class="form-check-input" value="select">
                    <label for="selectTime" class="form-check-label">Select Time</label>
                </div>

                <!-- Add the "Select Time" button initially hidden -->
                <button type="button" class="btn btn-primary hide-button" id="selectTimeBtn">Select Time</button>

             <div class="mb-3">
            <table class="table">
                <thead>
                    <tr>
                        <th>Day</th>
                        <th>Open Time</th>
                        <th>Closing Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Monday</td>
                        <td><input type="time" id="mondayOpenTime" name="mondayOpenTime" class="form-control" placeholder="Opening Time"></td>
                        <td><input type="time" id="mondayCloseTime" name="mondayCloseTime" class="form-control" placeholder="Closing Time"></td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td><input type="time" id="tuesdayOpenTime" name="tuesdayOpenTime" class="form-control" placeholder="Opening Time"></td>
                        <td><input type="time" id="tuesdayCloseTime" name="tuesdayCloseTime" class="form-control" placeholder="Closing Time"></td>
                    </tr>
                     <tr>
                        <td>Wednesday</td>
                        <td><input type="time" id="wednesdayOpenTime" name="wednesdayOpenTime" class="form-control" placeholder="Opening Time"></td>
                        <td><input type="time" id="wednesdayCloseTime" name="wednesdayCloseTime" class="form-control" placeholder="Closing Time"></td>
                    </tr>
                     <tr>
                        <td>Thursday</td>
                        <td><input type="time" id="thursdayOpenTime" name="thursdayOpenTime" class="form-control" placeholder="Opening Time"></td>
                        <td><input type="time" id="thursdayCloseTime" name="thursdayCloseTime" class="form-control" placeholder="Closing Time"></td>
                    </tr>
                     <tr>
                        <td>Friday</td>
                        <td><input type="time" id="fridayOpenTime" name="fridayOpenTime" class="form-control" placeholder="Opening Time"></td>
                        <td><input type="time" id="fridayCloseTime" name="fridayCloseTime" class="form-control" placeholder="Closing Time"></td>
                    </tr>
                     <tr>
                        <td>Saturday</td>
                        <td><input type="time" id="saturdayOpenTime" name="saturdayOpenTime" class="form-control" placeholder="Opening Time"></td>
                        <td><input type="time" id="saturdayCloseTime" name="saturdayCloseTime" class="form-control" placeholder="Closing Time"></td>
                    </tr>
                     <tr>
                        <td>Sunday</td>
                        <td><input type="time" id="sundayOpenTime" name="sundayOpenTime" class="form-control" placeholder="Opening Time"></td>
                        <td><input type="time" id="sundayCloseTime" name="sundayCloseTime" class="form-control" placeholder="Closing Time"></td>
                    </tr>
                    <!-- Repeat the structure for the remaining weekdays -->
                </tbody>
            </table>
        </div>


            </form>
            <button type="submit" class="btn btn-success mt-2" onclick="submitForm()">Submit</button>
        </div>
    </div>
</div>


 <section class="footer">


     <div class="row">
         <div class="col-md-3">
              <ul class="list-unstyled"><li> <img  src="/static/images/LOGO_PARKING.webp"></li>
                  <li>We Provide The Cheap And Best</li>
                  <li>Parking Spot In India.</li>
                  <li>You Can't Park Cheaper!</li>


              </ul>
          </div>

          <div class="col-md-3">
              <ul class="list-unstyled"><li> <h4>Top Searched Places</h4></li>
                  <li>Parking Spot In JP-Nagar</li>
                  <li>Parking Spot In Bommanahalli</li>
                  <li>Parking Spot In Rajajinagar</li>
                  <li>Parking Spot In Banashankari</li>
                  <li>Parking Spot In Marathahalli</li>

              </ul>
          </div>
           <div class="col-md-3">
              <ul class="list-unstyled">
                   <li>   <h4>Contact Info</h4> </li>
                  <li>Corporate Office Address :</li>
                  <li> 2nd Floor, Nextcoworks BTM Layout, BTM 2nd Stage, Bengaluru, Karnataka 560076</li>
                  <li>Customer Service:</li>
                  <li>+91 80929 96057</li>


          </ul>
           </div>
         <div class="col-md-3">
               <ul class="list-unstyled">
              <li><h4>Discover</h4></li>
              <li>Features</li>
              <li>Blogs</li>
              <li>Request Spot</li>
              <li>Register Spot</li>
              <li>Faq</li>

          </ul>
              </div>
              </div>
    </div>


</section>
 <p class="copy-right">&copy; 2023 Your Website. All Rights Reserved.</p>


<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwlaOn54SWFxclJZ7dBJ9sNFutLYcOwxA&libraries=places"></script>
<!--<script src="https://maps.googleapis.com/maps/api/js?key={{ YOUR_API_KEY }}&libraries=places"></script>-->


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

   <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script>
 document.addEventListener("DOMContentLoaded", function () {
    // ... Your existing code ...

    const table = document.querySelector(".table");
    const selectTimeRadio = document.getElementById("selectTime");
    const twentyFourHoursRadio = document.getElementById("twentyFourHours"); // Add this line

    // Initially hide the table
    table.style.display = "none";

    // Add an event listener to the "Select Time" radio button
    selectTimeRadio.addEventListener("change", function () {
        if (selectTimeRadio.checked) {
            // Show the table when the "Select Time" radio button is checked
            table.style.display = "table";
        } else {
            // Hide the table if the "Select Time" radio button is unchecked
            table.style.display = "none";
        }
    });

    // Add an event listener to the "24 Hours" radio button
    twentyFourHoursRadio.addEventListener("change", function () {
        if (twentyFourHoursRadio.checked) {
            // Hide the table when the "24 Hours" radio button is checked
            table.style.display = "none";
        }
    });
});

// Rest of your code...


  document.addEventListener("DOMContentLoaded", function () {
  console.log("Inside username")
  // Perform an AJAX request to your Django URL endpoint
  fetch("{% url 'admin_identity' %}")
    .then(response => response.json())
    .then(data => {
      // Assuming your response contains a "username" field
      const username = data.username;
      // Now you can use the username as needed, e.g., update a DOM element
      const usernameElement = document.getElementById("username");
      if (usernameElement) {
        usernameElement.textContent = username;
      }
    })
    .catch(error => console.error("Error fetching username:", error));
});


        async function submitForm(e) {



        var name = document.getElementById('nameInput').value;
         if (!name) {
        alert('Please enter a Name.');
        return;
        }
        console.log("---name",name)
        var address = document.getElementById('addressInput').value;
        console.log("---address",address)

        if (!address) {
            alert('Please enter an Address.');
            return;
        }
        var latitude = document.getElementById('latitudeInput').value;
        console.log("---latitude",latitude)
        var longitude = document.getElementById('longitudeInput').value;
        console.log("---longitude",longitude)
        var twentyFourHoursRadio = document.getElementById("twentyFourHours");
        var twentyFourHoursRadio = twentyFourHoursRadio.checked
        var mondayOpenTime = document.getElementById('mondayOpenTime').value;
        var mondayCloseTime = document.getElementById('mondayCloseTime').value;
        var tuesdayOpenTime = document.getElementById('tuesdayOpenTime').value;
        var tuesdayCloseTime = document.getElementById('tuesdayCloseTime').value;
        var wednesdayOpenTime = document.getElementById('wednesdayOpenTime').value;
        var wednesdayCloseTime = document.getElementById('wednesdayCloseTime').value;
        var thursdayOpenTime = document.getElementById('thursdayOpenTime').value;
        var thursdayCloseTime = document.getElementById('thursdayCloseTime').value;
        var fridayOpenTime = document.getElementById('fridayOpenTime').value;
        var fridayCloseTime = document.getElementById('fridayCloseTime').value;
        var saturdayOpenTime = document.getElementById('saturdayOpenTime').value;
        var saturdayCloseTime = document.getElementById('saturdayCloseTime').value;
        var sundayOpenTime = document.getElementById('sundayOpenTime').value;
        var sundayCloseTime = document.getElementById('sundayCloseTime').value;

         if (!latitude || !longitude) {

            }

        // Create the data object to send in the AJAX request

        var formData = new FormData();
        formData.append('name', name);
        formData.append('address', address);
        formData.append('latitude', latitude);
        formData.append('longitude', longitude);
        formData.append('mondayOpenTime', mondayOpenTime);
        formData.append('mondayCloseTime', mondayCloseTime);
        formData.append('tuesdayOpenTime', tuesdayOpenTime);
        formData.append('tuesdayCloseTime', tuesdayCloseTime);
        formData.append('wednesdayOpenTime', wednesdayOpenTime);
        formData.append('wednesdayCloseTime', wednesdayCloseTime);
        formData.append('thursdayOpenTime', thursdayOpenTime);
        formData.append('thursdayCloseTime', thursdayCloseTime);
        formData.append('fridayOpenTime', fridayOpenTime);
        formData.append('fridayCloseTime', fridayCloseTime);
        formData.append('saturdayOpenTime', saturdayOpenTime);
        formData.append('saturdayCloseTime', saturdayCloseTime);
        formData.append('sundayCloseTime', sundayCloseTime);
        formData.append('sundayOpenTime', sundayOpenTime);


        formData.append('twentyFourHoursRadio', twentyFourHoursRadio);

        try{
        let response =  await fetch('/admin_add_location', {
            method: 'POST',

            body: formData
        })
        console.log("******",response)
            if (response.ok) {

                alert('Location added successfully');
                 window.location.reload()

                 window.location.href = "{% url 'admin_get_location' %}";
            }
            else if (response.status === 409) {
                console.error('Data already exists:', response.statusText);
                alert('Error: Data already exists');
                window.location.reload()
            } else {
                console.error('Error adding data to Location:', response.statusText);
                alert('Error adding data to Location');
                window.location.reload()
            }
        }
        catch(err){
            console.log("-------error",error)
            console.error('Error adding data to Location:', error);
             console.log('Fetch error:', error);
        }
    }

    function reverseGeocode(lat, lng) {
        var url = `https://nominatim.openstreetmap.org/reverse?format=json&lat=${lat}&lon=${lng}`;

        return fetch(url)
            .then(response => response.json())
            .then(data => {
                if (data && data.display_name) {
                    return data.display_name;
                } else {
                    return "Address not found";
                }
            })
            .catch(error => {
                console.error('Error fetching address:', error);
                return "Address not found";
            });
    }

    var initialPinPosition = [15.3173, 75.7139];
    var map;
    var marker;


       var mapViewBtn = document.getElementById('mapViewBtn');
    var satelliteViewBtn = document.getElementById('satelliteViewBtn');

    mapViewBtn.addEventListener('click', function () {
        map.setMapTypeId(google.maps.MapTypeId.ROADMAP); // Switch to map view
    });

    satelliteViewBtn.addEventListener('click', function () {
        map.setMapTypeId(google.maps.MapTypeId.SATELLITE); // Switch to satellite view
    });


   function initMap() {
    var initialPosition = { lat: 15.3173, lng: 75.7139 };
    var mapOptions = {
        center: initialPosition,
        zoom: 7,
        mapTypeId: google.maps.MapTypeId.SATELLITE // Set map type to satellite
    };

    map = new google.maps.Map(document.getElementById('googleMap'), mapOptions);

    marker = new google.maps.Marker({
        position: initialPosition,
        map: map,
        draggable: true
    });

    marker.addListener('dragend', function(event) {
        var position = marker.getPosition();
        var lat = position.lat();
        var lng = position.lng();

        document.getElementById('latitudeInput').value = lat;
        document.getElementById('longitudeInput').value = lng;

        reverseGeocode(lat, lng)
            .then(address => {
                document.getElementById('addressInput').value = address;
            });
    });
}

  window.onload = function () {
        initMap();

    };

</script>
</body>
</html>

