{% extends 'admin_index.html' %}
{% load humanize %}
{% load mathfilters %}
{% load static %}
<head>
    <style>
        /* Custom class for reducing text box width */
        .narrow-input {
            max-width: 150px;
        }
    </style>
</head>
{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            Edit Location
        </div>
        <div class="card-body">
            <form id="edit-location-form" action="{% url 'admin_edit_location' %}" method="PATCH">
                {% csrf_token %}
                <input type="hidden" name="location_id" value="{{ location_id }}">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control narrow-input" id="name" name="name" value="{{ name }}">
                </div>
                <div class="mb-3">
                    <label for="latitude" class="form-label">Latitude</label>
                    <input type="text" class="form-control" id="latitude" name="latitude" value="{{ latitude }}">
                </div>
                <div class="mb-3">
                    <label for="longitude" class="form-label">Longitude</label>
                    <input type="text" class="form-control" id="longitude" name="longitude" value="{{ longitude }}">
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <textarea class="form-control" id="address" name="address" rows="3">{{ address }}</textarea>
                </div>
                <button type="submit" class="btn btn-primary" onclick="submitForm()">Update</button>
            </form>
        </div>
    </div>
</div>
<script>
    function submitForm() {
        const editForm = document.getElementById("edit-location-form");

        // Fetch method to submit form data
        fetch("{% url 'admin_edit_location' %}", {
            method: "PATCH",
            body: new FormData(editForm),
            headers: {
                "X-CSRFToken": "{{ csrf_token }}"
            }
        })
        .then(response => {
                if (response.ok) {
                    console.log("Ok");

                     window.location.href = "{% url 'admin_get_location' %}";
                } else {
                    console.error('Error editing data to Location:', response.statusText);
                }
            })
        .catch(error => {
            console.error("Error:", error);
        });
    }
</script>
{% endblock %}
