<!DOCTYPE html>
{% extends 'user_index.html' %}
{% load humanize %}
{% load mathfilters %}
{% load static %}

{% block content %}
<html>
<head>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

    <style>
.card-info{
height:100%;

}


    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 350px;
      object-fit: cover;
    }
    .about-container{
    display:flex;
    max-width:1100px;
    margin:auto;
    }
    .news-data{
    width:100%;
    height:100%;
    border:1px solid #dee2e6;;
    display: flex;
    align-items: center;
    padding:10px 10px 10px 10px;
    }

    .news-container{
    max-width:1100px;
    margin:auto;
    }
    .bg-color{
        background-color: #F9FBFE;
       
     }

    .single-crd-cls {
      max-width: 540px;
      transition: background-color 0.3s;
    }

    .single-crd-cls:hover {
      background-color: rgb(224, 244, 224);
      color: white;
    }


    .sub-msg-box{
      display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    }

.advantage-div{
  color:green;font-size: 53px;
}
    .card:hover .single-crd-cls, .card:hover .advantage-div{
      /* opacity: 0; */
      color: white;
      background-color: green;
    }

    .hear-data{
     display: flex;
    justify-content: center;
    }

    .text-container{
    padding: 40px;
    }

    .figure-container{
     padding: 40px;
    }


    </style>
    <title>Map with Fixed Locations</title>

</head>
<body onload="initMap()">
    <div id="map" style="width: 100%; height: 500px;"></div>
    <div class="hero-swipe">

         <div class="swiper mySwiper pt-5 pb-5">
              <h1 class="hear-data">Ower parking lots</h1>
        <div class="swiper-wrapper">

          <div class="swiper-slide">     <img src="/static/images/lot1.jpeg" class="img-fluid sp-img"></div>
          <div class="swiper-slide">  <img src="/static/images/lot2.jpeg" class="img-fluid sp-img" ></div>
          <div class="swiper-slide">  <img src="/static/images/lot3.jpeg" class="img-fluid sp-img" ></div>
          <div class="swiper-slide">  <img src="/static/images/lot4.jpeg" class="img-fluid sp-img" ></div>
          <div class="swiper-slide">   <img src="/static/images/lot5.jpeg" class="img-fluid sp-img" ></div>
          <div class="swiper-slide">   <img src="/static/images/lot6.jpeg" class="img-fluid sp-img" ></div>

        </div>
        <div class="swiper-pagination"></div>
      </div>
        <section id="about" class="pt-5 pb-5">
            <div class="about-container">
                <div  class="row">
                    <div class="col-md-6">
                         <div class="figure-container">
                    <img src="/static/images/parking_enquiry.svg" alt="About Image" loading="lazy" class="" width="354">
                </div>
                    </div>
                    <div class="col-md-6">
                         <div class="text-container">
                    <h1>Why Choose Us?</h1>
                    <p>Comfortable parking experience. Brokerage free. Genuine Owners. Ensured security of your vehicle. Available for residents and visitors. Surveillance parking. Simple steps to list property. Earn money on the go. Available on app and website.</p>
                    <p>Parkivia is part of this new initiative and incorporates various features aimed at improving the parking experience for residents and visitors. These will include removing the need for entry barriers at car park entrances and exits for a seamless flow of traffic, as vehicle plates will be registered via cameras.</p>
                </div>
                    </div>
                </div>


            </div>
        </section>

    <section class="my-2">
  <div class="container">
     <div class="row m-0">
      <div class="col-md-4">
        <div class="card mb-3" style="max-width: 540px;height: 100%;">
          <div class="row g-0 single-crd-cls">
            <div class="col-md-4" >
              <div class="sub-msg-box">
              <i class="fa-solid fa-wallet advantage-div"></i>
            </div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Save Money</h5>
                <p class="card-text">Save up to 70% on our site compared to the cost of on-airport parking.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3" style="max-width: 540px;height: 100%;">
          <div class="row g-0 single-crd-cls">
            <div class="col-md-4">
              <div class="sub-msg-box">

                <i class="fa-solid fa-stopwatch-20 advantage-div "></i>
            </div>
          </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Save Time</h5>
                <p class="card-text">It’s easy to compare parking at all major airports. Booking a reservation is quick &amp; simple!.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3" style="max-width: 540px;height: 100%;">
          <div class="row g-0 single-crd-cls">
            <div class="col-md-4">
              <div class="sub-msg-box">
              <i class="fa-regular fa-thumbs-up advantage-div" ></i>
            </div>
          </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Save Stress</h5>
                <p class="card-text">Guarantee your parking spot by booking in advance. Can’t make it? Cancellations are free.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
     </div>

  </div>

</section>
    <div class="hero-help-container" >
         <div class="row pt-5 pb-5">
             <div class="col-md-5 bg-color">
                 <div class="row">
                 <div class="col-md-6">

                 </div>
                 <div class="col-md-6 p-5"> <h5>How ParkingRhino Helps?</h5>
                    <p>Smart Parking Platform provides a full-stack approach to solving for parking related problems in today's cities. Products based off its platform solves problems of parking lot operators & owners, urban motorists, corporates, city planners and administrators</p>
                 </div>

                </div>
             </div>
             <div class="col-md-7">
                <div class="row">

                     <div class="col-md-4">
                         <div class="card card-info">
                              <img src="/static/images/parking_static.jpg" class="card-img-top" alt="...">
                              <div class="card-body">
                                <p class="card-text">
                                  <ul>
                                        <li>Increase Revenue</li>
                                        <li>More Business Traffic</li>
                                        <li>Optimize Employee Traffic</li>
                                    </ul>
                                  </p>
                              </div>
                         </div>
                     </div>
                      <div class="col-md-4">
                            <div class="card card-info">
                              <img src="/static/images/parking_nav.jpg" class="card-img-top" alt="...">
                              <div class="card-body">
                                <p class="card-text">
                                  <ul>
                                        <li>Find Nearby Parking</li>
                                        <li>Real Time Guidance</li>
                                        <li>No More Circling</li>
                                    </ul>
                                  </p>
                              </div>
                         </div>
                      </div>
                      <div class="col-md-4">
                           <div class="card card-info">
                              <img src="/static/images/parking_car.jpg" class="card-img-top" alt="...">
                              <div class="card-body">
                                <p class="card-text">
                                  <ul>
                                        <li>Improve Compliance</li>
                                        <li>Smart City Tracking</li>
                                        <li>Increase Turnover</li>
                                   </ul>
                                  </p>
                              </div>
                         </div>
                      </div>
                  </div>
                  </div>
         </div>

     <section id="news-container" class="pt-5 pb-5">
         <h4 class="hear-data">We've Got Coverage In</h4>
         <div class="news-container">
         <div class="row">
         <div class="col-md-2">
           <div class="news-data">
                 <img src="/static/images/news1.png" class="img-fluid">
            </div>
         </div>
         <div class="col-md-2">
                <div class="news-data">
                     <img src="/static/images/news3.png" class="img-fluid">
                </div>
         </div>
         <div class="col-md-2">
            <div class="news-data">
                 <img src="/static/images/news4.png" class="img-fluid">
            </div>
         </div>
         <div class="col-md-2">
            <div class="news-data">
                 <img src="/static/images/news5.png" class="img-fluid">
            </div>
         </div>
          <div class="col-md-2">
                <div class="news-data">
                 <img src="/static/images/news6.png" class="img-fluid">
            </div>
         </div>
         <div class="col-md-2">
            <div class="news-data">
                 <img src="/static/images/news7.png" class="img-fluid">
            </div>
         </div>
             </div>
             </div>
     </section>

       <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwlaOn54SWFxclJZ7dBJ9sNFutLYcOwxA&libraries=places"></script>

<script>




            var fixedLocations = {{ fixed_locations|safe }};
            var infoWindow = new google.maps.InfoWindow(); // Create an InfoWindow instance

            function initMap() {
                var centerLocation = fixedLocations.find(function(location) {
                    return location.title === "Me";
                });

                if (centerLocation) {
                    var mapOptions = {
                        center: {lat: centerLocation.lat, lng: centerLocation.lng},
                        zoom: 10
                    };

                    var map = new google.maps.Map(document.getElementById("map"), mapOptions);

                    fixedLocations.forEach(function(location) {
                        var markerColor = (location.title === "Me") ? "blue" : "red";
                        var marker = new google.maps.Marker({
                            position: {lat: location.lat, lng: location.lng},
                            map: map,
                            title: location.title,
                            icon: {
                                url: `http://maps.google.com/mapfiles/ms/icons/${markerColor}-dot.png`
                            }
                        });

                         var anchor = document.createElement("a");
                          var url = `single_slot_detail?lat=${centerLocation.lat}&lng=${centerLocation.lng}&user_lat=${location.lat}&user_lng=${location.lng}&location_id=${location.location_id}`;

                         anchor.href = url;
                         anchor.textContent = location.title;

                        marker.addListener('click', function() {
                              window.location.href = anchor.href;

                        });

                        // Add event listener for marker mouseover
                        marker.addListener('mouseover', function() {
                            infoWindow.setContent(location.title); // Change to the desired address content
                            infoWindow.open(map, marker);
                        });

                        // Add event listener for marker mouseout
                        marker.addListener('mouseout', function() {
                            infoWindow.close();
                        });
                    });
                }
            }
        var swiper = new Swiper(".mySwiper", {
                slidesPerView: 3,      // Show 3 slides at a time
                spaceBetween: 30,
                loop: true,            // Enable loop
                autoplay: {
                    delay: 2000,        // Auto slide every 3 seconds
                    disableOnInteraction: false,
                },
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                },
            });

    </script>
</body>
</html>
{% endblock %}