<!DOCTYPE html>
<html>
<head>
    <title>Directions Map</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7-wAJ3I-VlVGCWzDPVnjfwFgvqFgoM-M"></script>
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 12.417020733478072, lng: 76.60470661806708},
                zoom: 8
            });

            var directions = {{ directions | safe }};
            var directionsDisplay = new google.maps.DirectionsRenderer();
            directionsDisplay.setMap(map);

            var request = {
                origin: directions[0].start_location,
                destination: directions[directions.length - 1].end_location,
                travelMode: 'DRIVING'
            };

            var directionsService = new google.maps.DirectionsService();
            directionsService.route(request, function(result, status) {
                if (status === 'OK') {
                    directionsDisplay.setDirections(result);
                }
            });

            var fixedLocations = {{ fixed_locations | safe }};
            console.log("fixedLocations", fixedLocations);
            for (var i = 0; i < fixedLocations.length; i++) {
                var marker = new google.maps.Marker({
                    position: {lat: fixedLocations[i].lat, lng: fixedLocations[i].lng},
                    map: map,
                    title: fixedLocations[i].title
                });
            }
       }
    </script>
</head>
<body onload="initMap()">
    <div id="map" style="height: 500px;"></div>
</body>
</html>
