<!DOCTYPE html>
<html>
<head>
    <title>Address to GMAT API</title>
</head>
<body>
    <h1>Enter Your Address</h1>
    <form id="productForm" method="get" action="{% url 'gmap' %}">
        <label for="address">Enter the address:</label>
        <input type="text" id="address" name="address" placeholder="Enter the address" required>
        <br>
        <button type="submit">Submit</button>
    </form>

    <script>
        function submitProductForm(productId) {
            // Get the address from the input field
            const addressInput = document.getElementById('address');
            const address = addressInput.value;

            // Append the address as a query parameter to the form's action URL
            const form = document.getElementById('productForm');
            form.action = form.action + '?address=' + encodeURIComponent(address);

            // Submit the form
            form.submit();
        }
    </script>
</body>
</html>
