<!--{% extends "admin/login.html" %}-->
<!--{% load i18n %}-->

<!--{% block extrahead %}-->

<!--{% endblock %}-->

<!--{% block extrastyle %}-->
<!--    {{ block.super }}-->
<!--    <style>-->
<!--        / Add your custom styles here /-->
<!--    </style>-->
<!--{% endblock %}-->

<!--{% block content %}-->
<!--    {{ block.super }}-->
<!--&lt;!&ndash;    <p><a href="{% url 'admin_password_reset' %}">{% trans "Forgot password?" %}</a></p>&ndash;&gt;-->
<!--    <p><a href="{% url 'admin_signup' %}">Register Admin</a></p>-->
<!--{% endblock %}-->
